td {
	font-family: "Eras Medium ITC";
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #080b7a;
	background-position: center center;
}

table, th, td {
	margin: 0px;
	padding: 0px;
}

.titulos{
	font-size:20px;
	font-weight:normal;
	color:#272a9f;
	text-align:center;
}

.aviso{
	font-size:16px;
	font-weight:normal;
	color:#2427ac;
	text-align:center;
}

.aviso2{
	font-size:20px;
	font-style:normal
	font-weight:normal;
	color:#3034d4;
}

.roj{
	font-size:15px;
	font-weight:bold;
	color:#FF0000;
}

th {
	font-family: "Eras Medium ITC";
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #080b7a;
	text-align: center;
	background-color:#e5ffcb;
}

body {
	font-family: "Eras Medium ITC";
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #080b7a;
	text-align: center;
}

caption {
	font-family: "Eras Medium ITC";
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #0e12bc;
}

h1 {
	font-family: "Eras Medium ITC";
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	letter-spacing: normal;
	text-align: center;
	vertical-align: middle;
	white-space: normal;
	color: #2100c6;	
}

table {
	margin: 0px;
	padding: 0px;
}
