REM ESTE .IF ES EXCLUSIVO PARA TABLA DE Escalones de precio
REM Para Traer:
$SWQ

$ZIEL
PNUM,  6, N, 0, 1
ABNU,  2, N, 0, 1
ANKE,  1, N, 0, 1
SLFD,  1, N, 0, 1
SGEW,  6, N, 0, 1
SPGS,  6, N, 0, 1
SSTA,  2, N, 0, 1
PABS,  1, N, 0, 1
PIDE,  1, N, 0, 1
cr,    1, S, 0, 1, 13
eol,   1, S, 0, 1, 10