REM ESTE .IF ES EXCLUSIVO PARA TABLA DE PRODUCTOS
REM Para Traer:
$SWQ

$ZIEL
PNUM,  6, N, 0, 1
ABNU,  2, N, 0, 1
GPR1,  6, N, 0, 1
GPR2,  6, N, 0, 1
GPR3,  6, N, 0, 1
GPR4,  6, N, 0, 1
HBA1,  2, N, 0, 1
KLGE,  4, N, 0, 1
STPA,  4, N, 0, 1
KLAR,  2, N, 0, 1
PREU,  1, N, 0, 1
PTYP,  2, N, 0, 1
PLTE, 55, C, 0, 1
FGEW,  3, N, 0, 1
cr,    1, S, 0, 1, 13
eol,   1, S, 0, 1, 10

